/* ======  Main CSS File  ====== */

/* ====== Colour theme used ====== */
/*
   * 00CCFF: header background, heading text, highlight text, a:link, menus lettering (non active/current)
   * 006699: Footer background, menu background (non selected) div background for left nav
   * 66ccff body background around main div/table
   * 339999: possible background for other text areas / Secondary links
*/

/* global reset */
* {
    margin: 0;
    padding-top: 0;
}

body {
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-family: "PT Sans Narrow:400,700", sans-serif;
    background: #f0f0f0 url("../images/bg_img.png") repeat-x top;
}

/* get rid of all text-decoration for nav_menu anchors */
a {
    text-decoration: none;
}

#main_wrapper {
    background: #ffffff;
    width: 980px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    min-height: 600px;
}

/* ===== Header and Site Title ===== */

header {
    background-color: #00ccff;
    color: #ffffff;
    width: 100%;
    height: 140px;
}

#site_title {
    color: #006699;
    width: 70%;
    height: 70px;
    text-transform: uppercase;
    font-size: 2.3em;
    text-align: left;
    padding-top: 80px;
    padding-left: 20px;
}

/* ===== Main navigation menu ===== */

nav {
    height: 40px;
    width: 100%;
    background-color: #006699;
}

nav ul {
    overflow: hidden;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

nav ul li {
    display: inline; /* This also makes the list-style-type change to none */
    width: 125px;
    text-align: center;
    float: left;
}

nav a {
    display: block;
    height: 40px;
    line-height: 40px; /* Faux vertical centering trick */
    border-right: 1px solid #000000;
    text-transform: uppercase;
}

/* This gives the anchor in ONLY the first li a border left  ¡Apparently doesn't work with IE */
nav li:first-child a {
    border-left: 1px solid black;
}

nav ul a:link,
nav ul a:visited {
    background-color: #006699;
    color: #00ccff;

}

nav ul a:hover,
nav ul a:focus {
    background-color: #f0f0f0;
    color: #006699;
}

/* use the body id and li id of the nav menu to set the current page anchor to the same as hover */
#home #nav_home a,
#resources #nav_resources a,
#tutorial #nav_tutorial a {
    background-color: #00ccff;
    color: #006699;
}

/* ===== Left navigation area ===== */

#nav_left {
    float: left;
    width: 200px;
    padding-top: 40px;
    padding-left: 20px;
}

#nav_left ul {
    list-style-type: none;
    background-color: #f0f0f0;
    margin-bottom: 50px; /* push down the W3 validation images */
    padding: 10px 10px 10px 10px;
    border-radius: 5px; /* ooooohhh  fancy rounded corners */
    box-shadow: 5px 5px 2px #aaaaaa; /* add some fancy schmancy drop shadow to the ul */
}

#nav_left a,
#nav_left a:link,
#nav_left a:hover {
    font-size: 0.9em;
    color: #339999;
}

#other_links {
    color: #006699;
    font-weight: bold;
    border-bottom: 1px solid #000000;
}

/* ===== Main Content area ===== */

#content_main {
    float: right;
    width: 679px;
    border-left: 1px #006699 solid;
    border-left-style: dashed;
    padding: 20px 20px 40px 20px;
    min-height: 400px;
}

#content_main h3,
#content_main h4,
#content_main p {
    margin-bottom: 20px;
}

/* table styling for the main content area of the site */

#content_main table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    width: 100%;
    margin: 0 auto 0 auto;
    border-collapse: collapse;
}

#content_main table td, #content_main table th {
    font-size: 1.2em;
    border: 1px solid #006699;
    padding: 3px 7px 2px 7px;
}

#content_main table th {
    font-size: 1.4em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #006699;
    color: #fff;
}

#content_main table tr:nth-child(odd) {
    background-color: #99ccff;
}

#content_main table tr:nth-child(even) {
    background-color: #f0f0f0;
}

#content_main a,
#content_main a:link,
#content_main a:hover {
    color: #006699;
}

/* ===== Footer Area ===== */

footer {
    position: relative;
    bottom: 8px; /* lift the footer up a bit for aesthetics */
    clear: both;
    background-color: #006699;
    color: #ffffff;
    text-align: center;
    padding: 4px 0px; /* put some space around the lettering */

}

footer a,
footer a:link,
footer a:hover {
    color: #ffffff;
}

/* ====== Extras ====== */

blockquote {
    width: 70%;
    margin: 20px auto 20px auto;
    padding: 10px 10px 10px 10px;
    background-color: #f0f0f0;
    font: italic 1.2em Cochin, Georgia, "Times New Roman", serif;
    border-radius: 5px; /* ooooohhh  fancy rounded corners */
    box-shadow: -5px -5px 2px #aaaaaa; /* add some fancy schmancy drop shadow to the ul */
}

blockquote a {
    color: #339999;
    font-style: normal;
}

mark {
    background-color: deepskyblue;
}

.code {
    color: #f0f0f0;
    background-color: #000000;
    padding: 10px;
}

.columns {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-gap: 20px;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-rule: 1px outset #99ccff;
    -webkit-column-rule: 1px outset #99ccff;
    -moz-column-rule: 1px outset #99ccff;

}

.columns p {
    padding-left: 5px;
    padding-right: 5px;
}

.columns a,
.columns a:link,
.columns a:hover {
    color: #006699;
}






