/* ====== HTML TAGS ===== */
body {
    margin: 20px;
    padding: 0px;
    font-family: Copperplate Gothic Light, sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: #a60000;

}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 1000px;
    height: 80px;
    line-height: 80px;
    /*padding-left: 50px;*/
    text-align: center;
    background-color: #ff0000;
    z-index: 10;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    min-width: 1000px;
    height: 30px;
    padding-top: 4px;
    text-align: center;
    background-color: #a60000;
    border-top: 1px solid #ff4040;
    z-index: 10;
}

h1 {
    margin: 0px 0px 15px 0px;
    padding: 0px;
    text-shadow: 2px 2px darkred;
    color: #ff7373;
}

h2 {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    color: #ff7373;
    font-size: 1.1em;
}

a {
    color: #ff4040;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
}

a:link {

}

a:visited {

}

a:hover {
    color: darkred;
}

/* ==== Navigation bar on left side ==== */
nav {
    position: fixed;
    top: 120px;
    left: 20px;
    width: 125px;
    padding: 0px;
    font-size: 0.9em;
    background-color: #a60000;
    border: 2px solid black;
    z-index: 3;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0px;
    width: 125px;
    text-align: center;
    border-bottom: 2px solid black;
}

nav li:last-child {
    border-bottom: none;
}

nav a {
    display: block;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    color: #ff4040;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
}

nav a:link,
nav a:visited {
    background-color: #a60000;
}

nav a:hover,
nav a:focus {
    color: #a60000;
    background-color: #ff0000;
}

/* use the body id and li id of the nav menu to set the current page anchor to the same as hover */
#page01 #nav_page01 a,
#page02 #nav_page02 a,
#page03 #nav_page03 a {
    color: #a60000;
    background-color: #ff0000;
    font-weight: bold;
}

/* ===== Classes ===== */

.content {
    position: relative;
    width: auto;
    min-width: 200px;
    margin: 80px 100px 0px 175px;
    padding: 10px;
    border-left: 4px solid;
    border-color: #ff4040;
    background-color: darkred;
    z-index: 1;
}

/* ===== ID's ===== */
#container {
    position: relative;
    min-width: 1000px;
    min-height: 700px;
}

#rightnav {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    padding: 10px;
    font-size: 0.9em;
    background-color: darkseagreen;
    border: 2px dashed;
    z-index: 1;
}

#cssvalid {
    position: absolute;
    top: 3px;
    right: 3px;
}

#cssvalid img {
    width: 88px;
    height: 31px;
    border: 0;
}