/* global reset */
* {
    margin: 0;
    padding-top: 0;
}

/* html tags */

body {
    font-family: 'Molengo', sans-serif;
    background-color: #fbfbfb;
}

a {
    text-decoration: none;
}

/* navigation bar and header*/

header {
    height: 60px;
    line-height: 60px;
    background-color: #3d3d3d;
    color: #c2c2c2;
}

/* this takes care of the logo anchor */
header a {
    color: #c2c2c2;
}

nav {
    float: right;
    width: 350px;
    height: 60px;
    margin-right: 100px;
    line-height: 60px;
}

nav ul {

}

nav ul li {
    display: inline;
    width: 100px;
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;

}

nav a:link {
    color: #c2c2c2;
}

nav a:visited {
    color: #c2c2c2;
}

nav a:hover {
    background-color: #000000;
    color: #ffffff;
}

section {
    padding: 10px 15px 10px 15px;
}

p {
    margin-bottom: 15px;
}

footer {
    height: 80px;
    line-height: 80px;
    background-color: #3d3d3d;
    color: #c2c2c2;
    font-size: 0.9em;
}

footer ul {
    float: left;
}

footer ul li {
    display: inline;
    width: 80px;
    height: 30px;
}

footer ul li a {
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
}

footer ul li a:link {
    color: #ffffff;
}

footer ul li a:visited {
    color: #ffffff;
}

footer ul li a:hover {
    color: #fac552;
}


/* Form Styling */

form    {
    margin:auto;
    position:relative;
    width:80%;
    font-size: 14px;
    font-style: italic;
    line-height: 30px;
    font-weight: bold;
    background-color: honeydew;
    color: #666699;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding:10px;
    border: 1px solid #999999;
    border: inset 1px solid #333333;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}


/* classes */

.main_article {
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 1px solid #c2c2c2;
}

.main_article header {
    padding-left: 15px;
    height: 35px;
    line-height: 35px;
    border-bottom: 5px solid;
    background-color: #ffffff;
}

.header_one {
    color: #3dbfd9;
    border-color: #3dbfd9;
}

.header_two {
    color: #eb5745;
    border-color: #eb5745;
}

.header_three {
    color: #666699;
    border-color: #666699;
}

.header_four {
    color: #fac552;
    border-color: #fac552;
}

.bold {
    font-weight: bold;
}

.normal_image {
    border: 1px solid #000000;
}

/* id's */

#logo {
    float: left;
    margin-left: 20px;
}

#main_wrapper {
    min-width: 700px;
    min-height: 700px;
}

#content_wrapper {
    width: 880px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#content_wrapper h1 {
    margin: 20px 0px 50px 0px;
    text-align: center;
}

#secondary_nav {
    display: inline;
    float: left;
}

#copyright {
    display: inline;
    float: right;
    padding-right: 40px;
}

/* Form Details fieldset */
#details label {
    display: block;
    width: 120px;
    float: left;
}

#details input {
    width: 200px;
    height: 20px;
    background-color: #f0f0f0;
}

#details select {
    width: 200px;
    height: 60px;
    background-color: #f0f0f0;
}
#details textarea {
    width: 400px;
    height: 200px;
    background-color: #f0f0f0;
}

#submitbutton {
    width:100px;
    background:#666699;
    color:#fff;
    height:25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #999999;
}

#submitbutton:hover {
    background:#fff;
    color:#666699;
}
